name:  Node using Snyk
on: push
jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'
        env:
          SNYK_TOKEN: ${{ 82320c3e-6c5b-49d8-a7f1-87ce1b6d92c6 }}
        with:
          args: --severity-threshold=high
